*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
  
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    background-color: rgba(0, 153, 255, 0.651);
    color:white
}
.name{
    
    font-size: 30px;
    flex-grow: 1;
    margin-left: 15px;
    
}
.admin-nav{
      
   flex-grow: 8;
      margin-left: 5px;
 }
 .admin-icon{
  flex-grow: 0;
 }
.home,
.logout,
.login,
.reg {
    text-decoration: none;
    color:white;
    font-size:20px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor:pointer
}
.home{
     flex-grow: 15;
}
.login{
    
    border-radius: 10px;
       background-color: #4CAF50;
     
}
.reg{

    border-radius: 10px;
   background-color: #4CAF50;
    

}
.logout{
    border-radius: 10px;
   background-color: #4CAF50;
}

.login:hover{
   background-color: #2b8510;
}
.reg:hover{
  background-color: #2b8510;
}
.logout:hover{
 background-color: #2b8510;
}